<!-- Publications -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The AP4L Team</h2>
                  
                </div>
            </div>
            <div class="row">
                {% for paper in site.publications %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="{{ paper.pdf.url }}">
   
                        <h4>{{ paper.title }}</h4>
                        <p class="text-muted">{{ paper.author }}</p>
                        </a>
                        <ul class="list-inline social-buttons">
                            {% for pdf in paper.pdf %}
                            <li>
                                <a href="{{ pdf.url }}">
                                    <i class="fas fa-file-pdf"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>
